.taalprofiel {
  width: 75%;
  margin: 2rem auto;
}

.taalprofiel .multiple-choice {
  width: 100%;
  margin-bottom: 5rem;
}

.taalprofiel .multiple-choice .field {
  width: 100%;
  background-color: #FFF;
  border: 2.5px solid #A6DBF1;
  border-radius: 10px 0 10px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.taalprofiel .multiple-choice .field.options {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
}

.taalprofiel .multiple-choice .field.options p {
  width: 25%;
  text-align: center;
}