.top-nav {
    height: 16vh;
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 3vw;
}

.top-nav > button {
    height: 70%;
    overflow: hidden;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--primary-color);
    background: none;
    border-radius: 10px 0px 10px 0px;
}

.top-nav>button:hover {
    background-color: var(--secondary-color);
}

.top-nav button.active {
    background-color: var(--secondary-color);
}