.top-nav {
    height: 16vh;
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 3vw;
    background-color: #4b778a;
}

.top-nav > button {
    height: 70%;
    overflow: hidden;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px #A6DBF1 solid;
    background: none;
    border-radius: 10px 0px 10px 0px;;
}

.top-nav>button:hover {
    background-color: #DFF2FA;
}

.top-nav button.active {
    background-color: #DFF2FA;
}