.taalgroei-index {
    min-height: 100vh;
    width: 100%;
}

.taalgroei-title {
    font-size: 1.7rem;
    padding: 2rem;
}

.taalgroei-nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taalgroei-nav-item {
    width: 47%;
    height: 10vh;
    margin-bottom: 5vh;
    border: 3px solid var(--primary-color);
    border-radius: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    background-image: url('../../../../../../img/constructionBg.png');
    background-color: rgb(211, 211, 211);
    cursor: default;
}