.taalgroei-sequence {
    width: 100%;
    margin: 2rem auto;
}

.taalgroei-nav {
    margin-left: 5vw;
}

.taalgroei-nav-button {
    width: 10%;
    height: 4vh;
    background-color: white;
    border: solid 3px #A6DBF1;
    margin-right: 1vw;
    border-radius: 10px 0 0 0;
    border-bottom: none;
}

.lijn {
    border-bottom: solid 2px #A6DBF1;
}

.taalgroei-nav-button > p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.taalgroei-nav-button:hover {
    background-color: #DFF2FA;
    transition: ease 0.3s;
    cursor: pointer;
}

.taalgroei-nav-button:active {
    background-color: #DFF2FA;
}

.vaardigheden-content {
    display: flex;
    height: 86vh;
}

.evaluatie-sidebar {
    width: 13vw;
    color: #64b2d3;
    height: 100%;
    background-color: #DFF2FA;
}

.evaluatie-add {
    background-color: none;
    border: solid 3px #A6DBF1;
    display: flex;
    justify-content: space-evenly;
    padding: 1.3rem;
    font-size: 1rem;
    border-radius: 0 0 10px 0;
    border-top: none;
}

.evaluatie-add:hover {
    background-color: #DFF2FA;
    transition: ease 0.3s;
    cursor: pointer;
}

.evaluatie-add:active {
    background-color: #DFF2FA;
}

.evaluatie-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.evaluatie-delete {
    width: 7%;
}

.content {
    width: 72vw;
    align-items: top;
    padding: 2rem;
}

.no-content {
    display: flex;
    justify-content: center;
}