@import './home.css';
@import './auth.css';
@import url("https://use.typekit.net/law2zmh.css");


:root {
    min-height: 100vh;
    font-family: "filson-soft", sans-serif;
    /* background: url('../img/achtergrond\ -\ design.png'); */
    background-size: cover;
}

input {
    font-family: "filson-soft", sans-serif;
}

textarea {
    font-family: "filson-soft", sans-serif;
    /* font-family: Geneva, Tahoma, Verdana, sans-serif; */
}

#main {
    min-height: 100vh;
    background: url('../img/background.png');
    background-size: cover;
    width: 85vw;
    position: absolute;
    right: 0;
}

::-webkit-scrollbar { 
    display: none; 
}