@import './home.css';
@import './auth.css';


:root {
    min-height: 100vh;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

#main {
    min-height: 100vh;
    background: url('../img/background.png');
    background-size: cover;
    width: 85vw;
    position: absolute;
    right: 0;
}